body {
    font-family: ubuntu;
}

.projects__item {
    border: 2px solid #ccc;
    border-top: none;
    border-left: none;
    padding: 10px;
    box-shadow: 2.5px 2.5px 2.25px #888888;
}

.projects {
    margin-left: 10px;
}
