* {
  font-family: 'Gloria Hallelujah', cursive;
  margin: 0;
  padding: 0;
  color: #fff;
  font-size: 16px;
}

body {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

SVG {
  z-index: 400;
  height: 10rem;
}

@keyframes STAR-MOVE {
  from {
    background-position: 5% 5%
  }

  to {
    background-position: 1300% 600%
  }
}

.center {
  z-index: 400;

}

.background {
  background: black url(../images/background.png) repeat 55% 55%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;

  -webkit-animation: STAR-MOVE 200s linear infinite;
  -o-animation: STAR-MOVE 200s linear infinite;
  animation: STAR-MOVE 200s linear infinite;
}

.midground {
  background: url(../images/midground.png) repeat 20% 20%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 200;
  -webkit-animation: STAR-MOVE 200s linear infinite;
  -o-animation: STAR-MOVE 200s linear infinite;
  animation: STAR-MOVE 200s linear infinite;
}

.foreground {
  background: url(../images/foreground.png) repeat 35% 35%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 300;

  -webkit-animation: STAR-MOVE 200s linear infinite;
  -o-animation: STAR-MOVE 200s linear infinite;
  animation: STAR-MOVE 200s linear infinite;
}

.info__sections {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 1000;
}

.bio {
  padding-bottom: 1.8rem;
}